:root {
  --main-color: #5ea3d0;
  --secondary-color: rgb(51, 47, 47);
  --main-text-color: white;
  --secondary-text-color: #b0c7d6;
  --FormulaireEnvoiMessages: rgb(83, 78, 78);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui;
  font-weight: 200;
  color: #3e5869;
}

#root {
  height: 100%;
}

.App {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px;
  grid-template-areas:
    "r m m m m m"
    "r m m m m m"
    "r m m m m m"
    "r m m m m m"
    "l m m m m m"
    "n f f f f f";
}

.NouvelleSalle {
  grid-area: n;
}

.ListeSalles {
  grid-area: r;
}

.ListeMessages {
  grid-area: m;
}

.Login {
  grid-area: l;
  background-color: var(--FormulaireEnvoiMessages);
}

.Logged {
  color: orange;
  text-align: center;
}

.FormulaireEnvoiMessages {
  grid-area: f;
}

/* REST OF CSS */

div.Login > div.needLogin > div > form label {
  color: orange;
}

.ListeSalles {
  box-sizing: border-box;
  padding: 10px;
  background-color: var(--FormulaireEnvoiMessages);
  overflow: scroll;
  height: 100%;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.ListeSalles::-webkit-scrollbar {
  width: 0 !important;
}

.ListeSalles ul {
  list-style-type: none;
  padding: 0;
  overflow: scoll;
}

.ListeSalles li {
  margin: 10px 0;
}

.ListeSalles .Salle a {
  color: orange;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.3em;
}

.ListeSalles .Salle.active a {
  background: rgba(255, 255, 255, 0.774);
  color: var(--secondary-color);
  display: inline;
  padding: 4px 8px;
  border-radius: 8px;
}

.NouvelleSalle {
  padding: 0 5px;
  background: var(--secondary-color);
  color: var(--main-text-color);
}

.NouvelleSalle form {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NouvelleSalle input {
  width: 200px;
  background: var(--secondary-color);
  color: white;
}

.NouvelleSalle button {
  background: var(--secondary-color);
  color: var(--main-text-color);
  border: 0;
}

.NouvelleSalle input::placeholder {
  color: var(--main-text-color);
  font-weight: 200;
}

.NouvelleSalle input:focus {
  outline-width: 0;
}

.NouvelleSalle input {
  border: 0;
}

.NouvelleSalle button {
  border: 0;
}

.Messages {
  margin: 15px 0;
}

.Messages .Messages-nomUtilisateur {
  font-size: 15px;
  color: var(--main-text-color);
  opacity: 0.9;
  margin-bottom: 6px;
}
.Messages .Messages-texte {
  color: orange;
  display: inline;
  padding: 4px 8px;
  border-radius: 8px;
}
.Messages hr {
  border: 0;
  height: 1px;
  background: rgba(87, 85, 85, 0.65);
  margin-left: 20px;
  margin-right: 20px;
}

.ListeMessages {
  padding-left: 6px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: var(--secondary-color);
}

.ListeMessages::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.ListeMessages::-webkit-scrollbar {
  width: 15px;
  background-color: #f5f5f5;
}

.ListeMessages::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.ListeMessages .rejoindreSalle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 34px;
  font-weight: 300;
  color: orange;
}

.FormulaireEnvoiMessages {
  background: var(--FormulaireEnvoiMessages);
  display: flex;
}

.FormulaireEnvoiMessages input {
  width: 100%;
  padding: 15px 10px;
  margin: 0;
  border-style: none;
  background: var(--FormulaireEnvoiMessages);
  font-weight: 200;
  color: white;
}

.FormulaireEnvoiMessages input:focus {
  outline-width: 0;
}

.FormulaireEnvoiMessages input::placeholder {
  color: var(--main-text-color);
}
